@media (max-width: 992px) {
    header nav ul li {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .content h2 {
        width: 100%;
        float: none;
        text-align: left;
    }
    .my-work h2 {
        width: 100%;
        float: none;
        text-align: left;
    }
    .content p {
        margin-left: auto;
    }
    .my-work p {
        margin-left: auto;
    }
    #contact {
        width: 100%;
    }
}

